In [1]:
# Understanding the variables 
 
# Variables are the value holders 

var_1 = 50
var_2 = 10
print(var_1+var_2)

60

In [2]:
# Rules for declaring the variables 

# first name= 'Shweta' -----> Incorrect method to declare a variable because variable name cannot consist of name spaces 
first_name = 'Shweta' # Correct method to declare a variable 
lastname = 'Kadgi'  # correct 
print(first_name)

Shweta

In [3]:
# Rule 2 : Variable name should not start with a number 

# 1first_Name = 'Faiyaz' ------> incorrect 
first_Name1 = 'Faiyaz'
print(first_Name1)

Faiyaz

In [4]:
# Rule 3 
# No special characters should be used while declaring a variable name

In [5]:
# Declaration of strings 

name ='Shweta'  # Using single quotes 
print(name)

Shweta

In [6]:
name_2 = "Sneha" # Using double quotes 
print(name_2)

Sneha

In [7]:
name_3 = """Snehal""" # Using triple quotes 
print(name_3)

Snehal